.card {
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 10px red;
    transition: 0.3s;
    width: 96% ;
    margin: 1%;
    padding: 1%;
    
   
  }

  /* Responsive model for tablet */
  @media only screen and (min-width: 576px) {
    .card {
        width: 46%;
    }  
  }

  /* Responsive model for pc */
  @media only screen and (min-width: 800px) {
    .card {
        width: 16%;
    }  
  }

  .card:hover {
    box-shadow: 0 0 40px blue;
    border-radius: 20px;
  }
  .img {
    border-radius: 5px 5px 0 0;
  }

  .cardInfo {
    padding: 2px 16px;
    margin-top: 20px;
  
  }

  .title {
    color: black;
    font-size: 22px;
    margin-bottom: 15px;
    text-underline-offset: 0.5rem;
}

.propertyName {
    font-weight: bold;
    color: gray;
}

.property {
    color: gray;
    margin-top: 8px;
}
.underline{
  text-decoration: none;
}