.nav {
    padding: 13px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px black;
    line-height: 2px;
    align-items: center;
    background-color: black;
    color: gray;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 8px;
}

.nav .left {
    display: flex;

}

.navtitle {
    color: whitesmoke;
    text-decoration: none;
}

.menu {
    display: flex;
    margin-left: 40px;
}

.nav .left .menu li a {
    color: gray;
    text-decoration: none;
}

.nav .left .menu li a:hover {
    color: whitesmoke;
    -webkit-box-shadow: 0 0 50px palevioletred;
    box-shadow: 0 0 50px palevioletred;
}