.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30%; 
}

.text {
    color: whitesmoke;
    font-size: xx-large;
    font-family: fantasy;
    text-shadow: 2px 2px blue;
}